@import url('./global.css');

body{
    background-color: #000;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}

.nav-header ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-header ul li a{
    text-decoration: none;
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
}

.nav-header ul li .active{
    color: var(--color-white);
}

.container-btn-header{
    display: flex;
    align-items: center;
    gap: 16px;    
}

.btn-login{
    padding: 10px 24px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
}

.btn-primary{
    background-color: var(--color-green);
    padding: 10px 24px;
    border-radius: 40px;
    color: #000;
    font-family: var(--font-family-alexandria);
    text-decoration: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 100px;
}

.content-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-main span{
    display: flex;
    align-self: self-start;
    gap: 8px;
    color: var(--color-green);
    border: 1px solid var(--color-gray3);
    padding: 10px 12px;
    border-radius: 24px;
    font-family: var(--font-family-alexandria);
}

h1{
    color: var(--color-white);
    font-size: var(--font-size-title1);
    width: 521px;
    font-family: var(--font-family-alexandria);
}

.content-main p {
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
    width: 583px;
}

.container-btn-main{
    display: flex;
    gap: 20px;
}

.btn-green{
    background-color: var(--color-green);
    padding: 14px 24px;
    border-radius: 40px;
    color: #000;
    text-decoration: none;
    font-family: var(--font-family-alexandria);
}

.btn-secondary{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 14px 24px;
    border: 1px solid var(--color-gray2);
    border-radius: 40px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
}   

.section-partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: var(--color-gray4);
    padding: 40px 0;
}
.section-partners h2{
    color: var(--color-gray1);
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
}
.container-images-partners{
    display: flex;
    gap: 50px;
}

.section-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 0;
}

.content-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content-breakdown span{
    color: var(--color-green);
    border: 1px solid var(--color-gray3);
    padding: 12px 20px;
    border-radius: 24px;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);
}

.content-breakdown h2{
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title2);
    color: var(--color-white);
    font-weight: 400;
}

.content-breakdown p{
    font-family: var(--font-family-inter);
    color: var(--color-gray1);
    width: 572px;
    text-align: center;
}

.container-cards-breakdown{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding: 48px 36px;
    background-color: #ffffff04;
    border: 1px solid var(--color-gray3);
    border-radius: 12px;
}

.card-breakdown div{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.card-breakdown div h3{
    color: var(--color-white);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-inter);
    font-weight: 400;
}

.card-breakdown div p {
    color: var(--color-gray1);
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
    width: 338px;
}

.section-statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    background-color: var(--color-gray4);
    padding: 60px 0;
}

.content-statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content-statistics span{
    color: var(--color-green);
    border: 1px solid var(--color-gray3);
    padding: 12px 20px;
    border-radius: 24px;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);
}

.content-statistics h2{
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title2);
    font-weight: 400;
}

.content-statistics p{
    color: var(--color-gray1);
    font-size: var(--font-size-button);
    font-family: var(--font-family-alexandria);
    width: 644px;
    text-align: center;
    line-height: 140%;    
}

.container-number-statistics{
    display: flex;
    justify-content: center;
    gap: 72px;
}

.number-statistics{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;    
}

.number-statistics h3{
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title2);
    color: var(--color-green);
    font-weight: 400;
}

.number-statistics p{
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
}

.section-blockchain{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 0;
}

.content-blockchain{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.content-blockchain span{
    border: 1px solid var(--color-gray3);
    padding: 12px 20px;
    border-radius: 24px;
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);
}

.content-blockchain h2{
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title2);
    color: var(--color-white);
    font-weight: 400;
    text-transform: capitalize;
}

.content-blockchain p {
    font-family: var(--font-family-inter);
    color: var(--color-gray1);
    font-size: var(--font-size-button);
    text-align: center;
    width: 644px;
    line-height: 140%;
}

.container-blockchain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.container-cards-blockchain{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card-blockchain{
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: var(--color-gray4);
    border: 1px solid var(--color-gray2);
    padding: 30px 20px;
    border-radius: 20px;
}

.content-card-blockchain{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content-card-blockchain h3{
    color: var(--color-white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
    font-weight: 400;
}

.content-card-blockchain p {
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    width: 530px;   
}

.section-faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 0px;
    background-color: var(--color-gray4);
}

.content-faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;

}

.content-faq span{
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    padding: 12px 20px;
    border: 1px solid var(--color-gray3);
    border-radius: 24px;
    font-size: var(--font-size-text2);
}

.content-faq h2{
    color: var(--color-white);
    font-size: var(--font-size-title2);
    font-family: var(--font-family-alexandria);
    font-weight: 400;
    text-transform: capitalize;
}

.content-faq p{
    color: var(--color-gray1);
    font-family: var(--font-family-Inter);
    font-size: var(--font-size-button);
    text-align: center;
    width: 644px;
    line-height: 140%;
}

.conteiner-faq{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.faq-item{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid var(--color-gray3);
    width: 792px;
}

.faq-item h3{
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
    font-weight: 400;
}