@import url(global.css);

body{
    background-color: #000;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav-header ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-header ul li a{
    text-decoration: none;
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
}

.nav-header ul li .active{
    display: flex;
    color: var(--color-white);
}

.container-btn-header{
    font-family: var(--font-family-alexandria);
    display: flex;
    gap: 16px;
}

.btn-login{
    padding: 10px 24px;
    color: var(--color-white);
    text-decoration: none;
    font-family: (--font-family-alexandria);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 100px;
}



.content-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-main span{
    display: flex;
    align-self: self-start;
    color: var(--color-green);
    gap: 8px;
    border: 1px solid var(--color-gray3);
    padding: 10px 12px;
    border-radius: 24px;
    font-family: var(--font-family-alexandria);
}

h1 {
    color: var(--color-white);
    font-size: var(--font-size-title1);
    font-family: var(--font-family-alexandria);
    width: 531px;
}

.content-main p {
    color: var(--font-size-subtitle);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-Inter);
    color: var(--color-gray1);
    width: 584px;

}

.container-btn-main{
   display: flex;
   gap: 20px;
}

.btn-green{
    padding: 14px 24px;
    background-color: var(--color-green);
    border-radius: 40px;
    color: #000;
    text-decoration: none;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-button);
}

.btn-primary{
    border-radius: 40px;
    gap: 6px;
    color: var(--color-white);
    border: 1px solid var(--color-gray2);
    font-size: var(--font-size-button);
    font-family: var(--font-family-alexandria);
    padding: 15px 54px;
}